body{
    background-color: #F5F5F5;
    color: #212121;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; 
}

.navbar{
    background-color: #212121;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-item{
    padding: 10px;
}
.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: #BDBDBD;
}
.navbar-text{
    color: #fff;
    font-size: 30px;
}
.logo{
    width: 40px;
}
.jumbotron{
    padding: 0.8rem 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}
.banner{
    position: relative;
}
.banner img{
    max-width:100%;
    height:auto;
    max-height:100%;
 }

 .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F5F5F5;
    text-shadow:#212121 1px 0 10px;
}

.center h1{
    font-size: 6rem;
    
}
.center button{
    margin-top: 10px;
}

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#content{
    display: none;
}

@media (min-width: 769px) {
    #mainNav > ul > li:not(:last-child) {
        position: relative;
    }

    #mainNav > ul > li:not(:last-child) > a:after {
        content: "";
        height: 20px;
        width: 1px;
        background: #BDBDBD;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -10px; /* half of your height */
    }
}
    
@media (max-width: 769px) {
    .center h1{
        font-size: 2rem;
    }
    .center h4{
        font-size: 1rem;
    }
    .jumbotron h4{
        font-size: 16px;
    }
    .jumbotron h6{
        font-size: 11px;
    }
}
